.product-list {
  display: grid;
  padding: 40px 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 48px;
  background-color: #083164;
}

h1 {
color: #083164;
text-align: center;
padding: 20px;
margin-top: 30px;
}

h2 {
text-align: center;
}