<form [formGroup]="formulario" (ngSubmit)="saveProduct()">
  <h2>Cargar nuevo producto</h2>
  
  <div class="container-up"> 
    <div class="form-group">
      <div>
        <label for="title">Nombre:</label>
        <div class="input-container">
          <input type="text" id="title" formControlName="title">
          @if (formulario.controls['title'].touched && formulario.controls['title'].errors?.['minlength']) {
            <span style="color: red;">El nombre debería tener al menos 3 caracteres</span>
          }
          @if (formulario.controls['title'].touched && formulario.controls['title'].errors?.['required']) {
            <span style="color: red;">El nombre es obligatorio</span>
          }
        </div>
      </div>

      <div>
        <label for="price">Precio:</label>
        <div class="input-container">
          <input type="number" id="price" formControlName="price">
          @if (formulario.controls['price'].touched && formulario.controls['price'].errors?.['min']) {
            <span style="color: red;">El precio no puede ser menor a 0</span>
          }
        </div>
      </div>

      <div>
        <label for="description">Descripción:</label>
        <div class="input-container">
          <textarea id="description" formControlName="description"></textarea>
          @if (formulario.controls['description'].touched && formulario.controls['description'].errors?.['required']) {
            <span style="color: red;">La descripción es obligatoria</span>
          }
        </div>
      </div>
    </div>

    <div class="form-group">
      <div>
        <label for="category">Categoría:</label>
        <div class="input-container">
          <input type="text" id="category" formControlName="category">
          @if (formulario.controls['category'].touched && formulario.controls['category'].errors?.['required']) {
            <span style="color: red;">La categoría es obligatoria</span>
          }
        </div>
      </div>

      <div>
        <label for="image">Imagen URL:</label>
        <input type="text" id="image" formControlName="image">
      </div>
    </div>
  </div>

  <div class="container-down">
    <button type="submit">Guardar</button>
  </div>
</form>